.layout {
  margin-left: auto;
  margin-right: auto;

  &:before, &:before {
    content: '';
    display: table;
    clear: both;
    box-sizing: border-box;
  }
}


.layoutFluid {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
